<%- include("partials/header") %>

<h1> This is a post </h1>

<!-- using for loop -->
<% for (var i=0;i<posts.length;i++){ %>
<li> <%= posts[i].title %> - <strong><%= posts[i].author %></strong> </li>
<% } %>

********************

<% posts.forEach(function(event){ %>
	<li><%= event.title %> - <strong><%= event.author %></strong></li>
<% }) %>

<%- include("partials/footer") %>
